<% include sidebar-datatables.ejs %>

<div class="dt-content">

    <!-- Page Header -->
    <!-- <div class="dt-page__header">
      <h1 class="dt-page__title">Basic Form</h1>
    </div> -->
    <!-- /page header -->



    <!-- Grid -->
    <div class="row">
        <!-- Grid Item -->
        <div class="col-12">

            <!-- Card -->
            <div class="dt-card">

                <!-- Card Header -->
                <div class="dt-card__header">

                    <!-- Card Heading -->
                    <div class="dt-card__heading">
                        <h3 class="dt-card__title">Confirm Users</h3>
                    </div>
                </div>

                <div class="dt-card__body">

                    <!-- <div class="table-responsive"> -->

                    <div class="table-responsive">
                        <table class="hover" id="example" style="width:100%">
                            <thead>
                                <tr class="gradeX">
                                        <th>Name</th>
                                        <!-- <th>Username</th> -->
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Current Permission</th>
                                        <th>Allow Access</th>
                                        <th>Deactivate</th>
                                        
                                </tr>
                            </thead>
                            <tbody>
                                    <% data.forEach((data) =>{%>
                                <tr class="gradeX">
                                        <td><%= data.name %></td>
                                        <!-- <td><%= data.username %></td> -->
                                        <td><%= data.email %></td>
                                        <td ><%= data.phone %></td>
                                        <td ><%= data.permission %></td>
                                        <td><a class="btn btn-primary" href="/admin/change/permission/<%= data.id %>">Allow Access</a></td>
                                        <td><a class="btn btn-danger" href="/admin/deactivate/user/<%= data.id %>">Deactivate</a></td>
                                        
                                </tr>
                                <% }) %>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include datatable-footer.ejs %>

<script>
    $(document).ready(function () {
        $('#example').DataTable({
            dom: 'Bfrtip',
            lengthMenu: [
                [5, 10, 25, 50, -1],
                ['5 rows','10 rows', '25 rows', '50 rows', 'Show all']
            ],
            buttons: [
                'print',
                'csv',
                'pdf',
                'pageLength'
            ]
        });
    });
</script>